body{
    color: black;
    padding: auto 200px;
    background: #b5bdc8;
    background: -moz-linear-gradient(left, #b5bdc8 0%, #828c95 36%, #28343b 100%);
    background: -webkit-linear-gradient(left, #b5bdc8 0%,#828c95 36%,#28343b 100%);
    background: linear-gradient(to right, #b5bdc8 0%,#828c95 36%,#28343b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
}

.question{
    color: black;
    background-color: Gainsboro ;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 100px 200px;
}

.reponse{
    color: black;
    background-color: Gainsboro ;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 100px 200px;
}

.inscription{
    color: black;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 60px 300px;
}

.test{
    margin: 70px  !important; 
}

.connexion{
    margin:  550px;  
}

.container2{
    margin: 70px 410px;

}
.rounded{
    border-radius: 30px !important; 
}

h1{
    text-align: center;
    margin-top: 50px !important;
}


legend{
    font-family: 'Roboto Condensed', sans-serif;
}

.marketing{
    text-align: center;
    margin-top: 100px;
}

main{
    padding-top: 50px;
}

.story{
    text-align: justify !important;
}

.photos{
    margin: auto 100px;
    text-align: justify;
}

.nom{
    margin: 20px 65px;  
}

.btn-success{
    margin: auto 10px;

}

.btnmod{
    width: 290px;
    margin: auto;
}

.btnenvoyer{
    width: 485px;
    margin: auto;
}

.btninscription{
    width: 350px;
    margin: auto;
}

.btnSuite{
        margin: auto 130px;
}