{% extends 'base.html.twig' %}

{% block body %}
    <section class="menu">
            <h2>{{ menu.nom }}</h2>
                <p>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae necessitatibus quo, corporis veritatis sapiente in voluptatibus iste nobis et tempora eius recusandae quia enim reprehenderit ullam perferendis ad tempore placeat?</span>
                    <span>Quidem distinctio culpa pariatur consequatur voluptatum consequuntur illo quibusdam similique, dolores, cumque modi a voluptatem deleniti nobis delectus quis provident nihil est eos voluptates? Quam incidunt debitis illo cum obcaecati!</span>
                    <span>Est sint itaque voluptate? Non facilis eaque, quod debitis repellat nulla asperiores? Laudantium voluptate distinctio quos suscipit officia eum placeat cumque mollitia numquam, assumenda nostrum culpa, aspernatur aliquam quod iste.</span>
                </p>
                <hr>
                <div class="row">
                        <img src="http://placehold.it/300x300" style="margin: 5px 5px">
                        <img src="http://placehold.it/300x300" style="margin: 5px 5px">
                </div>
    </section>
{% endblock %}
