{% extends 'base.html.twig' %}

{% block title %}ArrayOport{{ controller_name }}{% endblock %}

{% block body %}
<style>

</style>

    <section class="carte">
        {# {% for carte in cartes %} #}
            <article>
                <h2>{nom}</h2>
                <div class="metadate">Créer le 19/07/18 à 19:30</div>
                <div class="content">
                    <img src="http://placehold.it/300x200" alt="">
                    <p style="word-wrap: break-word;">{description}</p>
                    {# <a href="{{ path('menu', {'id': carte.id })}}" class="btn btn-primary">Lire la suite</a> #}
                </div>
            </article>
        {# {% endfor %} #}
    </section>

{% endblock %}